html, body {
  height: 100%;
  background-color: #FAFAFA;
}

h1{
	Font-Family: 'Raleway', Sans-Serif;
	Font-Size: 44px;
}

h2{
	Font-Family: 'Raleway', Sans-Serif;
}

p{
	Font-Family: 'Open Sans', Sans-Serif;
	Font-Size: 15px;
}

figcaption {
	Font-Family: 'Open Sans', Sans-Serif;
	Font-Size: 15px;
}

footer {
	Font-Family: 'Open Sans', Sans-Serif;
	Font-Size: 8px;
}

.jumbotron {
	background-color: #FAFAFA;
}

.nav-link {
	Font-Family: 'Open Sans', Sans-Serif;
	Font-Size: 15px;
}

.font_open-sans {
	Font-Family: 'Open Sans', Sans-Serif;
	Font-Size: 15px;
}

/*image pannel formatting*/

.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
#polaroid-tag {
	padding: 10px;
}

#font_open-sans-small {
	Font-Family: 'Open Sans', Sans-Serif;
	Font-Size: 10px;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}

.point-feature {
	
}

#image_padding {
	padding-bottom: 20px;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

/*leaflet map css*/

#mapdid {
	height: 180px;
}

#map { 
	/*width: 960px;*/
	width: 100%;
	height: 500px; 
	border: 3px solid white;

}
